# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.eggs/
dist/
build/
*.so

# Large model / patch binaries
checkpoints/*.pth
checkpoints/*.onnx
outputs/**/*.pt
outputs/**/*.onnx
outputs/**/*.pth
third_party/**/*.pth
third_party/**/*.pt
third_party/**/*.onnx
third_party/**/datasets/

# Dataset
data/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Environment
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
